// Custom styles for Cayman theme

// Center-align the header
header {
  text-align: center;
}

// Change the font
body {
  font-family: "Helvetica", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}